#u{
    color: white;
    background-color: black;
}
#o{
    color: white;
    background-color: black;
}
.x{
    background-color: white;
    color: black;
}
.p{
    background-color: black;
    color: white;
}
#k{
    background-color: red;
    color:white:
}